extends layout

block content
    nav(class="navbar navbar-default navbar-fixed-top")
        div(class="container-fluid")
            div(class="navbar-header")
                a(class="navbar-brand" href="/") !{title}

            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                ul(class="nav navbar-nav")
                    li
                        a(href="/") Home
                    li(class="active")
                        a(href="/browse") Browse

                ul(class="nav navbar-nav navbar-right")
                    if signedInUser
                        li
                            a(href="#" class="btn-primary") !{signedInUser}
                        li
                            a(href="/logout") Logout
                    else
                        li
                            a(href="/login") Sign In

    br
    br
    br

    div(style="margin-left:30%; margin-right:30%;")
        table(class="table table-striped table-hover")
            thead
                tr
                    th(width="70%") Name
                    th(width="30%") Price
                tr

            tbody
                each val in list
                    tr
                        th !{val.name}
                        th $!{val.price}