extends layout

block content
  nav(class="navbar navbar-default navbar-fixed-top")
    div(class="container-fluid")
      div(class="navbar-header")
        a(class="navbar-brand" href="#") !{title}

      div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
        ul(class="nav navbar-nav")
          li(class="active")
            a(href="#") Home
          li
            a(href="#") Browse

        ul(class="nav navbar-nav navbar-right")
          li
            a(href="/login") Sign In

  br
  br
  br

  h1(align="center") !{title}
  p(align="center") Introduction to the website.

  br

  div(class="row search")
    div(class="col-sm-6 col-sm-offset-3")
      form(role="form")
        div(class="input-group")
          input(type="text" class="form-control input-sm" placeholder="Search products...")
          span(class="input-group-btn")
            button(class="btn btn-primary btn-sm" type="submit")
              span(class="glyphicon glyphicon-search" aria-hidden="true")