extends layout

block content
    nav(class="navbar navbar-default navbar-fixed-top")
        div(class="container-fluid")
            div(class="navbar-header")
                a(class="navbar-brand" href="/") !{title}

            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                ul(class="nav navbar-nav")
                    li
                        a(href="/") Home
                    li
                        a(href="/browse") Browse
                    li
                        a(href="/search") Search

                ul(class="nav navbar-nav navbar-right")
                    if signedInUser
                        li
                            a(href="/userPage" class="btn-primary" onmouseover="showOptions()" onmouseout="hideOptions()") !{signedInUser} &#x25BC;
                            span(id="userOptions" style="display:none; position: absolute;" onmouseover="showOptions()" onmouseout="hideOptions()")
                                a(href="/profile?user=" + id class="btn btn-default btn-sm") View public profile
                                a(href="/logout" class="btn btn-default btn-sm") Logout
                    else
                        li
                            a(href="/login") Sign In

    br
    br
    br

    div(style="margin-left:20%; margin-right:20%;")
        center
            h1 !{user.username}
            h4(class="text-info") Reputation: !{user.rep}